.home-page {
  display: flex;
  margin-bottom: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100vw !important;
  /* min-height: 100vh; */
  /* height: 1300px; */
  padding-left: 50vw;
  margin-right: 10px;
  margin-top:20px;
}

.section h4 {
    margin-top: 30px;
    font-size: clamp(18px, 3vw, 28px);
    text-shadow: 2px 2px 3px rgb(231, 217, 139);
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: rgb(231, 217, 139);
}

.section p {
  font-weight: normal;
  font-size: clamp(14px, 1.5vw, 20px) !important;
  line-height: 1.5em;
  text-shadow: 2px 2px 3px rgb(231, 217, 139);
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: rgb(231, 217, 139);
  margin: 30px 0;
}

@media (max-width: 700px){
    .section {
      margin-top: 40px !important;
        width: 65vw;
        padding-left: 33vw;
        
    }

    

    .section p {
        font-size: 14px;
        margin: 10px 10px 10px 0;
    }
}
