.home-page {
  display: flex;
  margin-bottom: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 50vw;
  min-height: 100vh;
  padding-left: 50vw;
  margin-right: 10px;
  margin-top:20px;
}

.section h4 {
    margin-bottom: 0;
    font-size: clamp(18px, 2vw, 28px);
    text-shadow: 2px 2px 3px rgb(231, 217, 139);
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: rgb(231, 217, 139);
}

.section p {
  font-weight: normal;
  font-size: clamp(20px, 50vw, 24px);
  line-height: 1.5em;
  text-shadow: 2px 2px 3px rgb(231, 217, 139);
  font-family: "Inter", sans-serif;
  font-weight: 200;
  color: rgb(231, 217, 139);
}

@media (max-width: 700px){
    .section {
        width: 65vw;
        padding-left: 35vw;
    }

    .section p {
        font-size: 14px;
    }
}
