.services-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw !important;
    padding-left: 40vw !important;
    margin-top: 40px !important;
    padding-right: 20px !important;
    margin-bottom: 30px;
  }

h1 {
    margin: 0;
    font-size: 120px;
    color: rgb(231, 217, 139);
    margin-right: 20px;
}

h3 {
    margin: 24px 0;
    font-size: clamp(18px, 3vw, 24px);
}

.one-service {
    display: flex;
    flex-direction: column;
    /* max-height: 220px; */
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 5px 20px 0;
}

.one-service p {
    font-weight: normal;
  font-size: clamp(14px, 2vw, 20px);
  line-height: 1.5em;
  text-shadow: 2px 2px 3px rgb(231, 217, 139);
  font-family: "Inter", sans-serif;
  font-weight: 200;
  margin-top: 0;
  color: rgb(231, 217, 139);
}



@media (max-width: 768px){    

    .services-page {
        padding-left: 60vw !important;
        width: 70vw !important;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .one-service {
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
    }

    .one-service p {
        width: 60vw !important;
    }

    h1 {
        font-size: 70px ;
        margin-top: 20px !important;
        margin: 0;
    }
}