@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("./images/background.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

